<div class="jumbotron center">
	<h1>HELLO BASIL AWAD, HOW'S R2 COMING ALONG</h1>
	<p>Click Here to <%= link_to "Sign up", "http://www.google.com", class: "btn btn-primary btn-lg"%>.</p>
	<div class="jumbotron">
</div>